# Compiled class files
*.class

# Package files
*.jar

# Log files
*.log

# Virtual machine crash logs
hs_err_pid*
replay_pid*

# IDE files
.vscode/
.idea/
*.iml

# LibreOffice / Word temporary files
.~lock.*#
~$*

# OS files
.DS_Store
Thumbs.db
